#!/bin/bash

echo 'Preserve file name: True
Generate HTML: False
Exclude HTML minify: True
Search index exclude: True
Sitemap exclude: True
Menu exclude: True
Link chain exclude: True
Search index exclude: True

' # Part of echo ^

if [ "$PAGEGEN_ENVIRONMENT" = "prod" ]; then

	echo 'DirectoryIndex index
ErrorDocument 404 /404

Order deny,allow
AuthType Basic
AuthUserFile /home/5/phnd/htpasswd/filaments/.htpasswd
AuthName "Password protected area"
Require valid-user

<IfModule mod_rewrite.c>
  RewriteEngine on 

  # Rewrite favicon.ico
  RewriteRule ^favicon\.ico$ /assets/theme/images/favicon.ico [NC,L]

  # Redirect to https
  RewriteCond %{HTTPS} off
  RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
</IfModule>

# Force text/html for all files
<FilesMatch "^[^.]+$">
#<FilesMatch "\.*">
  ForceType text/html
</FilesMatch>

'
fi

