[Unit]
After=network.target

[Service]
ExecStart=/home/oliver/Documents/Projects/filaments/systemd/content_watch_deployer.sh

[Install]
WantedBy=default.target
