// https://coolors.co/050505-4e6e5d-dddbcb-a24936-d36135

$dark-1: #050505
$dark-2: #4E6E5D
$light-1: #F7F6F3
$light-2: #DDDBCB
$highlight-1: #D36135
//$highlight-1: #A24936

$note-width: 586px

html
	background-color: $light-1
	-webkit-text-size-adjust: 100%

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video
	margin: 0
	padding: 0
	border: 0
	outline: 0
	font-size: 16px
	vertical-align: baseline
	color: $dark-1
	font-family: Helvetica,sans-serif
	line-height: 1em

body
        padding: 0 1em

article h1:first-of-type
	margin-top: .5em

article
	margin: 0 auto 2em auto
	display: block
	max-width: $note-width

.home-link
	margin-left: 0 !important

nav
	margin: 1em auto 1em auto 
	display: block
	max-width: $note-width
	text-align: right

nav h1
	margin: -.2em 0 0 0
	font-size: 1.4em
	display: inline
	text-decoration: none
	color: $dark-2
	float: left

nav a
	margin-left: .6em
	color: $dark-2
	border: none
	text-decoration: none

p
	line-height: 1.4em
	margin: .6em 0

.admonition
	margin: .6em 0
	padding: .6em 2em
	background-color: $light-2

.admonition p
	margin: 0 0 .2em 0

.admonition-title
	color: $dark-2
	font-size: 1.6em

h1, h2, h3, h4
	font-family: Tahoma, sans-serif
	font-weight: normal
	margin: 1.2em 0 .6em 0

h1
	color: $highlight-1
	font-size: 2.6em

h2
	color: $dark-2
	font-size: 2em

h3
	font-size: 1.7em

h4
	font-size: 1.4em

pre code
	background-color: $dark-1
	color: $light-1
	line-height: 1.4em
	margin: .6em 1em
	padding: .6em 1em
	border-radius: 3px

ul, ol
	margin: .6em 0
	padding-left: 2em

li
	line-height: 1.8em

table
	margin: .6em 1.6em
	border-collapse: collapse

td, th
	padding: .4em

th
	border-bottom: solid 1px $dark-1

#search-query

#search-submit

#search-form

.search-hit
	line-height: 2.5em

p code
	background-color: $dark-1
	padding: .2em
	font-family: monospace
	font-size: .9em
	color: $light-1
	border-radius: 1px

.admonition tt, .admonition span.pre, .admonition code
	background-color: $dark-1
	color: $light-1
	border-radius: 1px
