// https://coolors.co/050505-4e6e5d-dddbcb-a24936-d36135

$dark-1: #050505
$dark-2: #4E6E5D
$light-1: #F7F6F3
$light-2: #DDDBCB
$highlight-1: #D36135
//$highlight-1: #A24936
$base-font-size: 17px
$base-line-height: 27px
$base-width: 586px

html
	background-color: $light-1
	-webkit-text-size-adjust: 100%

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video
	margin: 0
	padding: 0
	border: 0
	outline: 0
	font-size: $base-font-size
	vertical-align: baseline
	color: $dark-1
	font-family: Helvetica,sans-serif
	line-height: $base-line-height

.home-link-large, .home-link-small
		float: left
		font-size: 1.5em
		margin: 3px 0 0 0

@media only screen and (min-width: $base-width)
	.home-link-small
		display: none

	.home-link-large
		display: inline

	.sidebar
		width: calc(#{$base-width} / 3)
		float: right
		background-color: $light-2
		padding: .8em

@media only screen and (max-width: $base-width)
	.home-link-small
		display: inline

	.home-link-large
		display: none

	#search-query
		max-width: 70px

	.sidebar
		background-color: $light-2
		padding: .8em

body
	padding: 0 1em

img
	max-width: 100%

a
	text-decoration: none

li::marker
	font-size: .8em

blockquote
	border-left: solid 2em $light-2
	padding-left: 1em
	margin-left: 1em
	font-style: italic
	opacity: .85
	font-family: Georgia, serif
	font-size: .9em

article a
	text-decoration: underline

article h1:first-of-type
	margin: .6em 0 .5em 0
	line-height: 1.1em

article
	clear: both
	margin: 0 auto 2em auto
	display: block
	max-width: $base-width

.home-link
	margin-left: 0 !important

nav
	margin: 1em auto 1em auto
	display: block
	max-width: $base-width
	text-align: right

nav form
	display: inline
	margin-left: .8em
	white-space: nowrap

nav a
	margin-left: .4em
	border: none
	color: $dark-2

.prev-next-links
	max-width: $base-width
	text-align: right
	margin: 1em auto 1em auto
	clear: both

.prev-next-links a
	color: $dark-2
	line-height: 1.5em

footer
	margin: 1em auto 1em auto
	display: block
	max-width: $base-width
	text-align: right
	font-size: .8em
	color: $dark-2
	opacity: .4
	clear: both

p
	margin: .5em 0 1.5em 0
	line-height: 1.5em

.directory-list a
	text-decoration: none

.article-meta
	margin: -.5em 0 2em 0

.article-meta div
	display: inline-block;
	margin-right: .8em
	line-height: 1.5em
	font-size: .9em

.article-meta a
	display: inline
	text-decoration: none

.article-meta-title
	text-decoration: none
	color: $dark-2
	font-size: .8em
	text-transform: uppercase
	font-weight: bold
	opacity: .85

.admonition
	margin: .5em 0 1.5em 0
	padding: .5em 2em
	background-color: $light-2

.admonition p
	margin: 0 0 .2em 0

.admonition-title
	color: $dark-2
	font-size: 1.6em

h1, h2, h3, h4
	font-family: Georgia, serif
	font-weight: normal
	margin: 1.5em 0 .5em 0

h1
	color: $highlight-1
	font-size: 2.6em

h2
	color: $dark-2
	font-size: 2em

h3
	font-size: 1.7em

h4
	font-size: 1.4em

pre
	background-color: $dark-1
	line-height: 1.5em
	margin: .5em 1em 1.5em 1em
	padding: .5em 1em
	border-radius: 3px

pre code
	color: $light-1

ul, ol
	margin: .5em 0 1.5em 0
	padding-left: 2em

li
	line-height: 1.5em

table
	margin: .5em .5em 1.5em .5em
	border-collapse: collapse

td, th
	padding: .5em

th
	border-bottom: solid 1px $dark-1

#search-query
	border: solid 1px $dark-2
	border-radius: 3px

#search-button
	background-color: $light-1
	border: none
	cursor: pointer
	padding: 0 0 0 .2em

#hit-count
	margin: .5em 0 1.5em 0

.search-hit
	line-height: 2.5em

p code
	background-color: $dark-1
	padding: .2em
	font-family: monospace
	font-size: .9em
	color: $light-1
	border-radius: 1px

.admonition tt, .admonition span.pre, .admonition code
	background-color: $dark-1
	color: $light-1
	border-radius: 1px

#crumb-trail
	max-width: $base-width
	margin: 1.5em auto 1em auto
	padding-left: 0
	opacity: .85

#crumb-trail li
	float: left
	margin-right: .7em
	list-style-type: '❯'
	padding-left: .2em
	font-size: .9em
	line-height: 2em

#crumb-trail a
	color: $dark-2

#crumb-trail li:first-child
	list-style-type: none

pre.shield-chart
	background-color: $light-1
	font-family: monospace
	font-size: 10px
	line-height: 1em
	letter-spacing: -.1em
