/* https://ethanschoonover.com/solarized/ */

$base03: #002b36
$base02: #073642
$base01: #586e75
$base00: #657b83
$base0: #839496
$base1: #93a1a1
$base2: #eee8d5
$base3: #fdf6e3
$yellow: #b58900
$orange: #cb4b16
$red: #dc322f
$magenta: #d33682
$violet: #6c71c4
$blue: #268bd2
$cyan: #2aa198
$green: #859900

$note-width: 586px

html
	background-color: $base3
	-webkit-text-size-adjust: 100%

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video
	margin: 0
	padding: 0
	border: 0
	outline: 0
	font-size: 16px
	vertical-align: baseline
	color: $base03
	font-family: Helvetica,sans-serif
	line-height: 1em

article
	margin: 0 auto 2em auto
	display: block
	width: $note-width

.home-link
	margin-left: 0 !important

nav
	margin: 1em auto 1em auto 
	display: block
	width: $note-width

nav h1
	color: $magenta
	font-size: 1.4em
	display: inline

nav a
	margin-left: .6em
	border: none

p
	line-height: 1.4em
	margin: .6em 0

a
	border-bottom: 1px dotted $blue
	text-decoration: none
	color: $blue

a:hover
	color: $violet
	border-bottom-color: $violet

.admonition
	margin: .6em 0
	padding: .6em 2em
	background-color: $base2

.admonition p
	margin: 0 0 .2em 0

.admonition-title
	font-size: 1.6em
	color: $yellow

h1, h2, h3, h4
	font-family: Tahoma, sans-serif
	font-weight: normal
	margin: 1.2em 0 .6em 0

h1
	color: $orange
	font-size: 2.6em

h2
	color: $cyan
	font-size: 2em

h3
	font-size: 1.8em

h4
	font-size: 1.4em

h1:first-of-type
	margin-top: 0

pre
	line-height: 1.4em
	margin: .6em 1em
	padding: .6em 1em
	background-color: $base02
	color: $base2
	font-family: 'Courier New', monospace
	border-radius: 3px

blockquote
	line-height: 1.4em
	margin: .6em 1em
	padding: .6em 1em
	background-color: $base02
	color: $base2

ul, ol
	margin: .6em 0
	padding-left: 2em

li
	line-height: 1.8em

table
	margin: .6em 1.6em
	border-collapse: collapse

th
	border-bottom: 1px dotted $base1

td, th
	padding: .4em

#search-query

#search-submit

#search-form

.search-hit
	line-height: 2.5em

tt, tt span.pre, code
	background-color: $base02
	padding: .2em
	font-family: monospace
	font-size: .9em
	color: $base2
	border-radius: 1px

.admonition tt, .admonition span.pre, .admonition code
	background-color: $base02
	color: $base2
	border-radius: 1px
